body {
    --bg-color: #121212;
    --box-color: #202020;
    --text-color: #d3d3d3;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #121212;
    color: #d3d3d3;
}